<po-modal #modalInsercao
          [p-primary-action]="confirmou"
          [p-secondary-action]="cancelou"
          p-title="Inserir orçamento">

  <div class="po-row">
    <app-categoria-controls #categoriaControls
                            class="po-md-12"
                            [(IdCategoria)]="idCategoria"
                            [(IdSubCategoria)]="idSubCategoria"
                            (IdCategoriaChange)="alterouCategorias($event)"
                            (IdSubCategoriaChange)="alterouCategorias($event)"></app-categoria-controls>

  </div>

  <div class="po-row">
    <po-multiselect class="po-md-6"
                    p-label="Selecione os meses desejados"
                    [p-options]="listaMeses"
                    [(ngModel)]="mesesEscolhidos"
                    (ngModelChange)="alterouMeses($event)">
    </po-multiselect>

    <po-decimal class="po-md-6"
                p-label="Valor"
                p-required="true"
                name="valor"
                p-icon="ph ph-money-wavy"
                [ngModel]="valor"
                (ngModelChange)="alterouValor($event)"></po-decimal>
  </div>

  <div class="po-row">
    <po-input class="po-md-12"
              p-required="false"
              p-label="Título"
              [(ngModel)]="descricao"></po-input>
  </div>


</po-modal>