<po-modal #modal>
  <div class="po-row">
    <po-input class="po-md-2"
              p-required="true"
              p-label="Id."
              disabled="true"
              [(ngModel)]="orcamento.Id"></po-input>
    <po-select class="po-md-4"
               p-label="Mês"
               [p-options]="meses"
               name="NumMes"
               [ngModel]="orcamento.NumMes"
               (ngModelChange)="alterouComboMes($event)"></po-select>

    <po-decimal class="po-md-6"
                p-label="Valor"
                p-required="true"
                name="valor"
                p-icon="ph ph-money-wavy"
                [ngModel]="orcamento.Valor"
                (ngModelChange)="orcamento.Valor = $event"></po-decimal>
  </div>

  <div class="po-row">
    <app-categoria-controls #categoriaControls
                            class="po-md-12"
                            [(IdCategoria)]="orcamento.IdCategoria"
                            [(IdSubCategoria)]="orcamento.IdSubCategoria"></app-categoria-controls>
  </div>

  <div class="po-row">
    <po-input class="po-md-12"
              p-required="false"
              p-label="Título"
              [(ngModel)]="orcamento.Descricao"></po-input>
  </div>
</po-modal>