<po-page-default p-title="Orçamento"
                 [p-actions]="acoesPagina">

  <div *ngFor="let orcamento of orcamentos">
    <po-widget class="po-md-6"
               [p-title]="orcamento.NOMEMES">
      <app-orcamento-items-view [orcamento]="orcamento"
                                (onFechouEdicao)="fechouModalDetail()"></app-orcamento-items-view>
      <div style="margin-top: 3px;">
        <strong>Total: </strong> <span style="color: red;">{{getTotal(orcamento.Total)}}</span>
      </div>
    </po-widget>
  </div>

  <app-orcamento-insercao #modalInsercao></app-orcamento-insercao>

</po-page-default>

<div *ngIf="loading"
     class="sample-container">
  <po-loading-overlay></po-loading-overlay>
</div>