<po-page-default p-title="Orçamento"
                 [p-actions]="acoesPagina">

  <po-table [p-items]="orcamentos">

    <div *p-table-row-template="let rowItem, let i=rowIndex">
      <detail-row [row]="rowItem">
        <po-table [p-actions]="acoesTabela"
                  [p-items]="rowItem.Items"></po-table>
      </detail-row>
    </div>

  </po-table>

  <app-orcamento-detail #modalDetail
                        (onFechouModal)="fechouModalDetail()"></app-orcamento-detail>
</po-page-default>

<div *ngIf="loading"
     class="sample-container">
  <po-loading-overlay></po-loading-overlay>
</div>