<po-modal #modalImportacao
          p-size="auto"
          p-title="Importação de lançamentos"
          [p-primary-action]="confirmou">

  <po-stepper #stepper
              (p-change-step)="alterouStep($event)">
    <po-step [p-label]="INFORMAR_DADOS"
             [p-can-active-next-step]="podeAvancarDosDados.bind(this)">

      <po-textarea class="po-md-12"
                   [p-rows]="9"
                   p-placeholder="Informe um item por linha separados por ponto-e-vírgula, pipe ou TAB"
                   [(ngModel)]="rawLines"></po-textarea>

    </po-step>

    <po-step [p-label]="PREENCHER_TABELA"
             [p-can-active-next-step]="podeAvancarDaTabela.bind(this)">
      <po-table [p-hide-columns-manager]="true"
                [p-striped]="true"
                [p-columns]="colunasTabela"
                [p-items]="dadosImportacao">

        <ng-template p-table-cell-template
                     let-column="column"
                     let-row="row">

          <div *ngIf="column.property === 'Valor'">
            <app-coluna-valor [valor]="row.Valor"></app-coluna-valor>
          </div>

          <div *ngIf="column.property === 'NomeCategoria'">
            <po-input class="po-md-12"
                      p-required="true"
                      [(ngModel)]="row.NomeCategoria"></po-input>
          </div>

          <div *ngIf="column.property === 'NomeSubCategoria'">
            <po-input class="po-md-12"
                      p-required="true"
                      [(ngModel)]="row.NomeSubCategoria"></po-input>
          </div>

          <div *ngIf="column.property === 'Comentario'">
            <po-input class="po-md-12"
                      [(ngModel)]="row.Comentario"></po-input>
          </div>

          <div *ngIf="column.property === 'NomeTipoTransacao'">
            <po-input class="po-md-12"
                      [(ngModel)]="row.NomeTipoTransacao"></po-input>
          </div>

        </ng-template>

      </po-table>
    </po-step>
    <po-step [p-label]="FINALIZACAO"></po-step>
  </po-stepper>
</po-modal>