<po-modal #modal
          [p-primary-action]="confirmouModal"
          [p-secondary-action]="cancelouModal"
          [p-title]="meuTitulo">
  <div class="po-row">
    <po-input class="po-md-2"
              p-label="Id."
              [(ngModel)]="categoria.Id"
              p-readonly="true"
              disabled="true"></po-input>
    <po-input class="po-md-10"
              p-label="Categoria"
              [(ngModel)]="categoria.Nome"
              (p-change-model)="alterouNomeCategoria()"></po-input>
  </div>

  <div class="po-row">
    <po-checkbox class="po-md-6"
                 p-label="Indica Receita"
                 [(ngModel)]="categoria.IndicaReceita"
                 (ngModelChange)="alterouCheckBox()"></po-checkbox>
    <po-checkbox class="po-md-6"
                 p-label="Sai no relatório"
                 [(ngModel)]="categoria.SaiNoRelatorio"
                 (ngModelChange)="alterouCheckBox()"></po-checkbox>
  </div>
  <hr>
  <app-subcategoria [categoria]="categoria"></app-subcategoria>
</po-modal>