/* You can add global styles to this file, and also import other style files */

po-table {
  --background-striped-color: AliceBlue;
}

.po-button-group-container .po-button-group {
  padding-right: 9px;
  padding-bottom: 9px;
}