<po-page-default p-title="Lançamentos por Categoria / Mês">

  <div *ngFor="let item of lancamentosPorCategoriaMes">
    <po-widget *ngIf="item.Categorias.length > 0" [p-height]="675" class="po-md-4" [p-title]="item.NomeMes">
      <po-table [p-hide-columns-manager]="true" [p-striped]="true" [p-columns]="colunas" [p-items]="item.Categorias">

        <ng-template p-table-cell-template
                     let-column="column"
                     let-row="row">

          <div *ngIf="column.property === 'Valor'">
            <div style="text-align: right;">
              <app-coluna-valor [valor]="row.Valor"></app-coluna-valor>
            </div>
          </div>
        </ng-template>

        <ng-template p-table-row-template="Categorias" let-rowCategoria let-i="index">

          <po-container>
            <div *ngFor="let itemLancamento of rowCategoria.Lancamentos; let i = index"
                 [ngClass]="{'even': i % 2 === 0, 'odd': i % 2 !== 0}">

              <div style="display: flex; justify-content: space-between;">
                <div style="margin-left: 40px;">{{ itemLancamento.Nome }}</div>
                <div style="text-align: right; color: red;">{{ getValor(itemLancamento) }}</div>
              </div>

            </div>
          </po-container>

        </ng-template>

      </po-table>
      <hr>
      <div style="text-align: right;">
        <strong style="margin-right: 9px; margin-left: 9px;">Total do mês:</strong>
        <span style="color: red;">{{getSaldoFinal(item)}}</span>
      </div>
    </po-widget>
  </div>


</po-page-default>