<po-page-default p-title="Previsto x Realizado" [p-actions]="acoesPagina">

  <div *ngFor="let itemMes of previstoXrealizado">

    <po-widget [p-title]="itemMes.NomeMes" [p-height]="600"
               [p-primary-label]="getTotalPrevisto(itemMes)"
               [p-secondary-label]="getTotalRealizado(itemMes)"
               class="po-md-4">

      <po-table [p-striped]="true" [p-hide-columns-manager]="true" [p-spacing]="spacingSmall"
                [p-columns]="colunasPrevisto"
                [p-items]="itemMes.Categorias">

        <ng-template p-table-cell-template
                     let-column="column"
                     let-row="row">

          <div *ngIf="column.property === 'TotalPrevisto'">
            <div>
              <span *ngIf="row.TotalPrevisto === 0">-</span>
              <app-coluna-valor *ngIf="row.TotalPrevisto != 0" [valor]="row.TotalPrevisto"></app-coluna-valor>
            </div>
          </div>

          <div *ngIf="column.property === 'TotalRealizado'">
            <div>
              <span *ngIf="row.TotalRealizado === 0">-</span>
              <app-coluna-valor *ngIf="row.TotalRealizado != 0" [valor]="row.TotalRealizado"></app-coluna-valor>
            </div>
          </div>
        </ng-template>

      </po-table>

    </po-widget>

  </div>

  <div *ngIf="loading"
       class="sample-container">
    <po-loading-overlay></po-loading-overlay>
  </div>
</po-page-default>